@font-face{
    font-family: "Monoton";
    src: url("./assets/fonts/Monoton/Regular.ttf");
}

@font-face{
    font-family: "Neue";
    src: url("./assets/fonts/Neue/Regular.ttf");
}

@font-face{
    font-family: "Silkscreen";
    src: url("./assets/fonts/Silkscreen/Regular.ttf");
}
