:root{
    --bg-blue: #55b1ff;
    --bg-yellow: #ffd955;

    --text-black: #302c1a;
    --text-blue: #0d4c82;

    --skill-bg: #7ec1f9;
}

@font-face{
    font-family: "Monoton";
    src: url("./assets/fonts/Monoton/Regular.ttf");
}

@font-face{
    font-family: "Neue";
    src: url("./assets/fonts/Neue/Regular.ttf");
}

@font-face{
    font-family: "Silkscreen";
    src: url("./assets/fonts/Silkscreen/Regular.ttf");
}

.text-stroke{
    -webkit-text-stroke: 1px #222;
    color: transparent;
}
